extends ../layout

block vars
	- var pageTitle = "English - 1888 · STM"
	- var thisPage = "index"

block content
	.container
		each topic in topics
			.panel.panel-default
				.panel-heading
					h3.panel-title=topic.topic.name
				.panel-body
					.row
						.col-sm-6
							table.table.table-hover.lead
								caption Top-ranking Words
								thead
									tr
										th Word
										th Count
										th Weight
								tbody
									each word in topic.words
										tr
											td=word.word
											td=word.count
											td=word.weight
						.col-sm-6
							table.table.table-hover.lead
								caption Top-ranking Phrases
								thead
									tr
										th Phrase
										th Count
										th Weight
								tbody
									each phrase in topic.phrases
										tr
											td=phrase.phrase
											td=phrase.count
											td=phrase.weight